*{ /* applied to all html files */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
position: relative; /* occupies the full space but does not move anything */ 
width: 100%; /* full width */
height: 100vh; /* full viewpoint height */
overflow: hidden; /* prevent stack overlapping */

touch-action: none;
cursor: grab;
}

.title-element, .home-content {
    position: absolute; /* child so absolute */
    width: 100%; /* full width */
    height: 100%; /* full height */
    transition: transform 0.6s ease;
    left: 0;
    top: 0;
}

.title-element {
    background-color: #ffd8d8;
    z-index: 2; /* Ensure title is on top initially */
    transform: translateY(0); /* Initial position */
}

.home-content {
    background-color: #ffa4a4;
    z-index: 1; /* Home content behind title initially */
    transform: translateY(100%); /* Start off-screen below */
}

/* When hovering over the container, move the title up and bring home content in */
.container:swipe .title-element {
  transform: translateY(-100%); /* Move title up and off-screen */
}

.container:swipe .home-content {
  transform: translateY(0); /* Bring home content into view */
} 

.nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}

.a {
  text-decoration: none;
  color: #000000; 
  font-weight: 400;
}